.board {
    display: flex;
    flex: 1;
    gap: 24px;
    height: 100%;
    padding: 24px 0;

    overflow-x: auto;

    &__tasks {}

    &__new-status {
        margin-top: 39px;
    }
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__status {
        position: relative;

        margin-bottom: 4px;
        padding-left: 27px;

        font-size: var(--heading-s);
        text-transform: uppercase;
        letter-spacing: 2.4px;
        color: var(--clr-secondary);

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            content: '';

            width: 15px;
            height: 15px;

            border-radius: 100%;

            transform: translateY(-50%);
        }

        &_wait {
            &::before {
                background-color: #49C4E5;
            }
        }

        &_process {
            &::before {
                background-color: #8471F2;
            }
        }

        &_completed {
            &::before {
                background-color: #67E2AE;
            }
        }
    }

    &__item {}
}

.add-new-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 280px;

    background: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.5) 100%);
    border-radius: var(--radius-3);

    transition: .2s;

    &__link {
        font-size: var(--heading-xl);
        font-weight: 700;
        color: var(--clr-secondary);
    }
}