.header {
    background-color: var(--white);

    &__row {
        gap: 16px;
    }

    &__logo {
    }

    &__board {}

    &__board-name {
        position: relative;

        padding-right: 20px;

        font-size: var(--heading-l);
        font-weight: 700;
        line-height: 1;

        &_active {
            .header__board-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__board-icon {
        position: absolute;
        right: 0;
        top: 6px;

        width: 14px;
        height: 8px;

        stroke: var(--purple-500);
        fill: none;

        transition: .2s;
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: auto;
    }
}