.header {
    position: relative;
    z-index: 12;

    background-color: var(--bg-main);

    transition: .2s;

    &__row {
        gap: 16px;
    }

    &__logo {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__board {
        &_active {
            .header__board-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__board-name {
        position: relative;

        padding-right: 20px;

        font-size: var(--heading-l);
        font-weight: 700;
        line-height: 1;

        cursor: pointer;
    }

    &__board-icon {
        position: absolute;
        right: 0;
        top: 6px;

        width: 14px;
        height: 8px;

        stroke: var(--purple-500);
        fill: none;

        transition: .2s;
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: auto;
    }

    &__action-board {
        position: relative;
    }

    &__new-task-text {
        display: none;
    }

    @media (min-width: $screen-sm) {
        border-bottom: 1px solid var(--clr-lines);

        &__logo {
            width: 261px;
            padding-top: 26px;
            padding-bottom: 26px;

            border-right: 1px solid var(--clr-lines);
        }

        &__board-name {
            margin-left: 16px;

            font-size: var(--heading-xl);
            cursor: default;
        }

        &__board-icon,
        &__new-task-icon {
            display: none;
        }

        &__new-task-text {
            display: inline;
        }
    }
}