.toggle-theme {
    padding: 14px;

    background-color: var(--bg-secondary);
    border-radius: var(--radius-3);

    &__action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        line-height: 1;
        color: var(--clr-secondary);
    }

    &__light {
        width: 19px;
        height: 19px;

        fill: currentColor;
    }

    &__dark {
        width: 16px;
        height: 16px;

        fill: currentColor;
    }
}