.action-board {
    position: absolute;
    top: 40px;
    right: 0;

    min-width: 192px;
    padding: 16px;

    opacity: 0;
    visibility: hidden;

    background: var(--bg-main);
    box-shadow: 0 10px 20px rgba(54, 78, 126, 0.25);
    border-radius: var(--radius-4);

    &_active {
        opacity: 1;
        visibility: visible;
    }

    &__item {
        line-height: 23px;
        color: var(--clr-secondary);

        &_alert {
            color: var(--red-500);
        }

        & + .action-board__item {
            margin-top: 16px;
        }
    }

    &__link {
        display: block;
    }
}