.board-empty {
    margin: auto;

    text-align: center;

    transform: translateY(-60px);

    &__text {
        font-size: var(--heading-l);
        font-weight: 700;
        color: var(--clr-secondary);
    }

    &__btn {
        margin-top: 24px;
    }
}