.btn {
    font-size: var(--heading-m);
    font-weight: 700;
    line-height: 1;
    color: var(--white);

    background-color: var(--purple-500);
    border-radius: var(--radius-7);

    cursor: pointer;

    transition: .2s;

    &:hover {
        background-color: var(--purple-300);
    }

    &_new-task {
        min-width: 48px;
        padding: 8px 0;

        svg {
            width: 12px;
            height: 12px;
            fill: currentColor;
        }
    }

    &_disabled {
        background-color: rgba(99, 95, 199, .25);
        cursor: default;

        &:hover {
            background-color: rgba(99, 95, 199, .25);
        }

        &:active {
            background-color: var(--red-400);
        }
    }
}

.btn-action-board {
    width: 14px;
    height: 18px;

    cursor: pointer;

    span {
        position: relative;

        display: inline-block;
        width: 4px;
        height: 4px;

        line-height: 1;

        border-radius: 50%;
        background-color: var(--gray-300);

        &::after,
        &::before {
            position: absolute;
            top: 6px;
            left: 0;
            content: '';

            width: 4px;
            height: 4px;

            border-radius: inherit;
            background-color: inherit;
        }

        &::after {
            top: 12px;
        }
    }
}