.logo {
    display: flex;
    gap: 16px;

    &__icon {
        width: 24px;
        height: 25px;
    }

    &__image {
        display: none;
    }

    @media (min-width: $screen-sm) {
        &__image {
            display: inline-block;
        }
    }
}